In [1]:
import gurobipy as gp
from gurobipy import GRB

import pandas as pd
import math

import time
from collections import defaultdict

## Actual Data

In [93]:
banker = pd.read_excel('.//banker_data//banker_data.xlsx')
bank = pd.read_csv('.//bank_loan_data//bank.csv')
loan = pd.read_csv('.//bank_loan_data//loan.csv')
loan_type = loan['loan_type'].unique()   # loan_type = [0,1] 
# type = ["living", "investment"]

banker['salary (in k)'] = [i*1000 for i in banker['salary (in k)']]
banker['capacity'] = [i*10000 for i in banker['capacity']]

P = range(30) #range(round(len(banker)*0.1))
B = range(2) #range(round(len(bank)*0.1))
L = range(50) #range(round(len(loan)*0.02))

T = range(len(loan_type))
print([P,B,L,T])
        
# yoinked from ass1 
dist = [ [0]*len(B) for i in P]
for p in P:
     for b in B:
        # LA,LONG for banker is column 1,2; for banks LONG,LA is 1:2
        dist[p][b] = math.dist(banker.iloc[p, 1:3],bank.iloc[b, 2:0:-1])


# print("bank\n", bank.head())
# print("loan\n",loan.head())
# print("banker\n",banker.head())

[range(0, 30), range(0, 2), range(0, 50), range(0, 2)]
bank
                                             location        long        lat
0  Westfield Fountain Gate, 352 Princes Highway, ...  145.304441 -38.018206  \
1               330 Collins St, Melbourne, VIC, 3000  144.963217 -37.816309
2               460 Collins St, Melbourne, VIC, 3000  144.958852 -37.817673
3               288 Lygon Street, Carlton, VIC, 3053  144.967263 -37.800216
4                  22 Watton St, Werribee, VIC, 3030  144.661003 -37.901344

      capacity
0   91908072.0
1  132948034.0
2  137102661.0
3  227108391.0
4   77150960.0
loan
    loan_amount  loan_type
0    1590071.0          1
1    1589968.0          0
2    1589900.0          0
3    1590024.0          1
4    1589990.0          0
banker
    banker_id   Latitude   Longitude  tenure (in years)  capacity  v1_rand_0_1
0          1 -37.695528  143.951218           8.183687  10000000     0.863803  \
1          2 -37.551700  144.405921           8.184793  10000000     0.539807
2          3 -37.537275  144.841580           6.404775   7500000     0.934031
3          4 -37.563307  144.933624           4.616158   5000000     0.884652
4          5 -37.574639  144.084421           9.203669  10000000     0.156721

   v2_rand_0_1  v3_rand_0_1  rand_0_1  salary (in k)  is_home_loan
0     0.032237     0.726694  0.809348   89280.451280             1  \
1     0.619572     0.486674  0.809465   89283.944336             1
2     0.875103     0.039625  0.621970   83659.088756             1
3     0.675051     0.296280  0.433569   78007.058309             0
4     0.498442     0.426343  0.916787   92503.595437             1

   is_credit_card  is_house_loan
0               0              1
1               1              0
2               1              0
3               1              0
4               0              0

## Dummy Data

In [94]:
P = range(10)
B = range(3)
L = range(20)
T = range(len(loan_type))
print([P,B,L,T])

banker = banker.iloc[0:10]
bank = bank.iloc[0:3]
loan = loan.iloc[0:20]

banker.loc[0, "capacity"] = 750
banker.loc[1,"capacity"] = 250
banker.loc[2, "capacity"] = 500
banker.loc[3,"capacity"] = 250
banker.loc[4, "capacity"] = 750
banker.loc[5,"capacity"] = 1000
banker.loc[6, "capacity"] = 500
banker.loc[7,"capacity"] = 250
banker.loc[8, "capacity"] = 500
banker.loc[9,"capacity"] = 500

bank.loc[0,"capacity"] = 1000
bank.loc[1,"capacity"] = 5000
bank.loc[2,"capacity"] = 3500

loan.loc[0,"loan_amount"] = 300
loan.loc[0,"loan_type"] = 1
loan.loc[1,"loan_amount"] = 200
loan.loc[1,"loan_type"] = 0
loan.loc[2,"loan_amount"] = 400
loan.loc[2,"loan_type"] = 0
loan.loc[3,"loan_amount"] = 100
loan.loc[3,"loan_type"] = 0
loan.loc[4,"loan_amount"] = 300
loan.loc[4,"loan_type"] = 1
loan.loc[5,"loan_amount"] = 200
loan.loc[5,"loan_type"] = 0
loan.loc[6,"loan_amount"] = 400
loan.loc[6,"loan_type"] = 0
loan.loc[7,"loan_amount"] = 100
loan.loc[7,"loan_type"] = 0
loan.loc[8,"loan_amount"] = 400
loan.loc[8,"loan_type"] = 0
loan.loc[9,"loan_amount"] = 100
loan.loc[9,"loan_type"] = 0
loan.loc[10,"loan_amount"] = 150
loan.loc[10,"loan_type"] = 1
loan.loc[11,"loan_amount"] = 200
loan.loc[11,"loan_type"] = 0
loan.loc[12,"loan_amount"] = 600
loan.loc[12,"loan_type"] = 0
loan.loc[13,"loan_amount"] = 100
loan.loc[13,"loan_type"] = 1
loan.loc[14,"loan_amount"] = 300
loan.loc[14,"loan_type"] = 0
loan.loc[15,"loan_amount"] = 200
loan.loc[15,"loan_type"] = 0
loan.loc[16,"loan_amount"] = 400
loan.loc[16,"loan_type"] = 0
loan.loc[17,"loan_amount"] = 100
loan.loc[17,"loan_type"] = 0
loan.loc[18,"loan_amount"] = 400
loan.loc[18,"loan_type"] = 0
loan.loc[19,"loan_amount"] = 200
loan.loc[19,"loan_type"] = 1

        
# Dummy distance between banker and branch
dist = [[5,8,1], [6,9,2], [1,2,4], [1,1,1], [4,3,5], [6,2,4], [7,1,11], [8,2,3], [6,2,1], [2,3,2]]

print("bank\n", bank.head())
print("loan\n",loan.head())
print("banker\n",banker.head())

[range(0, 10), range(0, 3), range(0, 20), range(0, 2)]
bank
                                             location        long        lat
0  Westfield Fountain Gate, 352 Princes Highway, ...  145.304441 -38.018206  \
1               330 Collins St, Melbourne, VIC, 3000  144.963217 -37.816309
2               460 Collins St, Melbourne, VIC, 3000  144.958852 -37.817673

   capacity
0    1000.0
1    5000.0
2    3500.0
loan
    loan_amount  loan_type
0        300.0          1
1        200.0          0
2        400.0          0
3        100.0          0
4        300.0          1
banker
    banker_id   Latitude   Longitude  tenure (in years)  capacity  v1_rand_0_1
0          1 -37.695528  143.951218           8.183687       750     0.863803  \
1          2 -37.551700  144.405921           8.184793       250     0.539807
2          3 -37.537275  144.841580           6.404775       500     0.934031
3          4 -37.563307  144.933624           4.616158       250     0.884652
4          5 -37.574639  144.084421           9.203669       750     0.156721

   v2_rand_0_1  v3_rand_0_1  rand_0_1  salary (in k)  is_home_loan
0     0.032237     0.726694  0.809348   89280.451280             1  \
1     0.619572     0.486674  0.809465   89283.944336             1
2     0.875103     0.039625  0.621970   83659.088756             1
3     0.675051     0.296280  0.433569   78007.058309             0
4     0.498442     0.426343  0.916787   92503.595437             1

   is_credit_card  is_house_loan
0               0              1
1               1              0
2               1              0
3               1              0
4               0              0

In [102]:
assigned_loans = []
assigned_bankers = []
targets = []
branch = []
branch_dict = defaultdict()

In [ ]:
for target in [i/100 for i in range(46, 56)]:
    start_time = time.time()
    m = gp.Model()
    m.Params.LogToConsole = 0
#     m.Params.OutputFlag = 1

    M = 100000
    x = m.addVars(T,L,B, name="x", vtype = GRB.BINARY)
    y = m.addVars(P,B, name="y", vtype = GRB.BINARY)
    z = m.addVars(T,L,P, name="z", vtype = GRB.BINARY)

    # Objective
    m.setObjective(gp.quicksum( dist[p][b]*y[p,b] for b in B for p in P) +
                    gp.quicksum( banker.iloc[p]["salary (in k)"]*y[p,b] for p in P for b in B),
                   GRB.MINIMIZE )

    ## Constraints ##
    # Loans # 
    m.addConstrs( (gp.quicksum( x[t,l,b] for b in B)
                   <= 1.5 for t in T for l in L if loan.iloc[l]["loan_type"]==t),
                 name='1.each loan <= 1 bank')

    m.addConstrs( (gp.quicksum( z[t,l,p] for p in P) 
                   <= 1.5 for t in T for l in L if loan.iloc[l]["loan_type"]==t),
                 name='2.each loan to <= 1 banker')

    m.addConstrs( (gp.quicksum( y[p,b] for b in B) 
                   <= 1.5 for p in P),
                 name='3.each banker <= 1 bank')

    m.addConstrs( (gp.quicksum( z[t,l,p] * loan.iloc[l]["loan_amount"] 
                               for t in T for l in L if loan.iloc[l]["loan_type"]==t) 
                   <=  banker.iloc[p]["capacity"] for p in P ),
                 name='4.value of loans respect banker cap')

    m.addConstrs( (gp.quicksum( x[t,l,b] * loan.iloc[l]["loan_amount"] 
                               for t in T for l in L if loan.iloc[l]["loan_type"]==t) 
                   <= bank.iloc[b]["capacity"] for b in B ), 
                 name='5.total loan respect bank cap')

    m.addConstrs( (gp.quicksum( x[t,l,b] * loan.iloc[l]["loan_amount"] 
                               for t in T for l in L if loan.iloc[l]["loan_type"]==t) 
                   >= target * bank.iloc[b]["capacity"] for b in B),
                 name='6.each bank spend 10% of cap')

    m.addConstrs( (gp.quicksum( x[t,l,b] for b in B ) == gp.quicksum( z[t,l,p] for p in P )
                for t in T for l in L if loan.iloc[l]["loan_type"]==t ),
                name='7. if 1 loan to bank -> 1 loan to a banker')

    m.addConstrs( ( x[t,l,b] + z[t,l,p] <= 1.5 + y[p,b] 
                   for t in T for l in L if loan.iloc[l]["loan_type"]==t for b in B for p in P),
                name='8.Link z and y')


    #########################################

    # Constraint: The value of investment loans cannot exceed 50% of total for each bank
    m.addConstrs((gp.quicksum(loan.loc[l, "loan_amount"] * x[1, l, b] for l in L if loan.iloc[l]["loan_type"]==1) <=
                  (gp.quicksum(0.5 * loan.loc[l, "loan_amount"] * x[t, l, b] for t in T for l in L if loan.iloc[l]["loan_type"]==t))
                 for b in B),
                 name="9.investment loan <= 50% percent per bank")


    #########################################
    print('optimizing...')
    m.optimize()

    for v in m.getVars():
        if v.x > 1e-6:
            if v.varName[0] == 'z':
                assigned_bankers.append(int(v.varName[2:-1].split(',')[2])+1)
                assigned_loans.append(int(v.varName[2:-1].split(',')[1]))
                targets.append(target)
                branch.append(branch_dict[int(v.varName[2:-1].split(',')[2])+1])
            if v.varName[0] == 'y':
                branch_dict[int(v.varName[2:-1].split(',')[0])+1] = int(v.varName[2:-1].split(',')[1])
    print(f"target {target} computed time taken {(time.time() - start_time)/60:}")

optimizing...

In [79]:
assignment_df = pd.DataFrame({'banker_id':assigned_bankers, 
                              'branch_id': branch,
                              'loan_id':assigned_loans, 
                              'target':targets})

In [80]:
assignment_df = pd.merge(assignment_df, banker[['banker_id', 'capacity']], how='left', on='banker_id')

In [81]:
loan2 = loan.reset_index(names='loan_id')
bank2 = bank.reset_index(names='branch_id')

In [82]:
assignment_df = pd.merge(assignment_df, loan2, how='left', on='loan_id')
assignment_df = pd.merge(assignment_df, bank2, how='left', on='branch_id')

In [83]:
cols = ['banker_id', 'branch_id', 'capacity', 'target', 'loan_amount']
grouped_df = assignment_df[cols].groupby(['banker_id', 'capacity', 'target']).sum().reset_index()

In [84]:
grouped_df['excess_capacity'] = grouped_df['capacity'] - grouped_df['loan_amount']

In [85]:
grouped_df[grouped_df.target == 0.24]

    banker_id  capacity  target  loan_amount  excess_capacity
13          1       750    0.24        700.0             50.0
17          2       250    0.24        200.0             50.0
37          3       500    0.24        500.0              0.0
61          4       250    0.24        100.0            150.0

In [74]:
assignment_df[assignment_df.target==0.24]

    banker_id  loan_id  target  capacity  loan_amount  loan_type
87          2        1    0.24       250        200.0          0
88          3        3    0.24       500        100.0          0
89          1        6    0.24       750        400.0          0
90          4        7    0.24       250        100.0          0
91          3        8    0.24       500        400.0          0
92          1        0    0.24       750        300.0          1

In [ ]:
grouped_df